:root {
  --blue-color-alert: #e6eefe; /* info variation from amplify */
  --blue-color-light: #B8CEF9; /* old light blue */
  --blue-color: #0d4b89; /*old blue color */
  --blue-duke: #012169;
  --body-background-dark: #0c0c0b;
  --body-background-light: #ffffff;
  --background-dark: #262626;
  --color-light: #ffffff;
  --color-dark: #000000;
  --gray: #808080FF;
  --black: #000;
  --red-alert: #7e0b0b;
  --background-light: #ffffff;
  --yellow-boarder: rgba(255, 255, 0, 0.5);
  --red-border: #8B0000FF;
  --zone-border: #8B0000FF;
  --active-link: #62dc01;
  --green-link: #dae9c6;
  --green-background: #0b441d;
  --light-purple: #e9e8fc;
  --max-width: 1280px;
  --mobile-width: 780px;
  --amplify-components-heading-color: #0b441d;
  --amplify-internal-togglebutton-link-focus-background-color: red;
}
body {
  margin: 0;
  display: flex;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  height: 100vh;
  justify-content: center;
  /*align-items: center; -> centers vertically */
  align-items: flex-start;
}


/* utility classes */
.hide {
  display:none !important;
}
.blue-light {
  color: var(--blue-color-light);
}
.italics {
  font-style: italic;
}
.red-alert {
  color: var(--red-alert);
}
.green-background-link {
  color:#010101 !important;
  background-color: var(--active-link) !important;
}
.dark-background-link {
  color: var(--green-link);
  background-color: var(--background-dark);
}
.light-purple-background {
  color:#010101;
  background-color: var(--light-purple);
}
.green-link {
  color: var(--green-link);
}
.button {
  color:#010101;
  border-radius: 2rem;
  padding: .6rem 1.1rem .8rem 1.1rem;
  margin: 0 1rem;
  font-weight: 600;
}
@media screen and (max-width: 768px) {
  .button {
    padding:.5rem .7rem;
  }
  a.button {
    font-size: 1rem;
  }
}

#root {
  margin: 0 auto;
  padding:0;
  text-align: center;
  width:100vw;
}

.background-dark{
  color: var(--color-light);
  background-color: var(--body-background-dark);
  fill: var(--color-light);
}
.background-light {
  color: var(--color-dark);
  background-color: var(--body-background-light);
  fill: var(--color-dark);
}
main {
  display: flex;
  flex-direction: column;
  align-items: stretch; /* automatically stretch along cross axis */
  background-color: var(--body-background-dark);
  min-height: 100vh;
}
.main-container {
  margin: 0 auto;
  /*max-width: var(--max-width);*/
  border-top: 1px solid white;
  width:100%;
  padding: 2em 0;
}
.main-content {
  padding: 0 2em;
  max-width: var(--max-width);
  margin: 0 auto;
}

header, footer {
  /*display: flex;
  justify-content: space-between;
  align-items: center;*/
  padding: 2rem 0;
  border-bottom-color: #8585851f;
  background: linear-gradient(180deg, rgb(0, 0, 0) 0%, rgb(11, 68, 29) 100%);
  width: 100%;
}
.nav-container {
  margin: 0 auto;
  max-width: 1280px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  width: 100%;
  padding: 1rem 2rem;
  max-width: var(--max-width);
}
.nav-item {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}
.copyright {
  color: var(--green-link);
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.4em 1em;
  margin: .2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: var(--active-link);
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

ul.column {
  padding-inline-start: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  margin: 8px 0;
  border: 1px solid black;
  gap: 1px;
  background-color: black;
  border-radius: 8px;
  overflow: auto;
}

ul.column li {
  background-color: white;
  padding: 8px;
  color: #000;
}

ul.column li:hover {
  background: #dadbf9;
}

a {
  font-size: 1.2rem;
  text-decoration: none;
  color: var(--green-link);
}


/* navigation */

/* Hide hamburger toggle on desktop */
.hamburger-container{
  display: none;
}

.navigation ul {
  list-style-type: none; /* Remove bullet points */
  padding: 0;
  margin: 0;
}

.navigation ul li {
  display: inline-block; /* Display links horizontally on desktop */
  margin: 0 1em;
}

.navigation ul li a {
  text-decoration: none; /* Remove underlines */
  color: var(--green-link);
  font-weight: 500;
  transition: color 0.3s ease;
}

.navigation ul li a:hover {
  color: var(--active-link); /* Hover effect */
}

@media screen and (max-width: 768px) {
  .hamburger-container {
    display: block; /* Show hamburger icon */
    cursor: pointer;
    /* Add styling for the actual '☰' icon bars here if needed */
  }

  .navigation {
    /* Hide menu by default */
    display: none;
    /*position: absolute;
    left: 0;
    width: 100%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 99;*/
    top: 60px; /* Adjust based on header height */

  }
  nav.navigation.footer {
    display:block;
  }
  footer .nav-container {
    flex-direction: column;
    align-items: center;
  }
  nav.navigation.footer ul li a {
    font-size: 1rem;
  }

  /* Styles for when the menu is active/open (requires JS to add the 'open' class) */
  .mobile-menu {
    display: flex;
    flex-direction: column;
    margin-block-start: 2rem;
    margin-block-end: 0;
  }

  .mobile-menu ul li {
    display: block; /* Stack links vertically */
    margin: 0;

  }

  .mobile-menu ul li a {
    padding: 15px 20px;
    display: block; /* Make the whole area clickable */

  }
}

/* flex classes */
.flex-parent-center {
  display: flex;
  justify-content: center; /* Centers content horizontally (main axis) */
  align-items: center;     /* Centers content vertically (cross axis) */
  /* height: 200px;            A defined height is needed for vertical centering to be visible */
}
.flex-parent-left {
  display: flex;
  justify-content: flex-start; /* Centers content horizontally (main axis) */
  align-items: center;     /* Centers content vertically (cross axis) */
  /* height: 200px;            A defined height is needed for vertical centering to be visible */
}

/* TopNav */
.logo-height {
  height: 48px; /* same as hamburger icon */
}
.logo-color {
  color:red;
}
.pending {
  color: darkgreen;
}
.active {
  font-weight: 700;
  color: var(--green-link)
}
.hero.main-content {
  padding-top: 0;
}
.hero h5 {
  color: var(--color-light);
  font-size: larger;
  font-weight: bolder;
  margin:0;
  margin-block-end: 1rem;
}
.hero-paragraph {
  padding: 2rem 0 1rem;
  font-size: larger;
}
.hero-column-container {
  display: flex;
  gap: 1rem;
  flex-wrap: nowrap;

}
.hero-column {
  flex-basis: 50%;
  flex-grow: 0;
  min-width: 0;
  overflow-wrap: break-word;
  word-break: break-word;
  margin:0;
}
.hero-column li {
  text-align:left;
}

@media (max-width: 781px) {
  .hero-column {
    flex-basis: 100%;
    flex-grow:1;
  }
  .hero-column-container {
    flex-wrap: wrap;

  }
}

/* game card */
.game-card-full {
  text-align: center;
  padding: .25em;
  line-height: 1em;
}
.inner-game-card {
  background-color: var(--green-background);
  padding: 5px 12px;
  color: white;
  height: 145px;
  display: flex;
  flex-direction: column;

}
.inner-game-card1 {
  /*background-color: rgb(0, 0, 0, 0.7);*/
  border-top: 1px solid black;
  /*background-color:  var(--background-dark);*/
  background-color: white;
  padding:5px 12px ;
  color:black;
}
.game-card {
  border: 1px solid #BFD6E8;
  width: 250px;
  padding: 0 !important;
  background-repeat: no-repeat;
}
.game-card-header {
  color: #fff;
  font-weight: bold;
  font-size: 1.2em;
  margin-bottom: .25em;
  line-height: .9em;
  margin-top: 3px;
}

.mapInModal {
  width:100%;
  height: 100%;
  margin:0;
  padding:0;
  position:relative;
}
.mapInModal iframe {
  display: block; /* Iframes are inline by default, block helps with layout */
  width: 100vw; /* 100% of the viewport width */
  height: 100vh; /* 100% of the viewport height */
  border: none; /* Optional: removes the default border */
}
.waiver-container {
  max-width: var(--mobile-width);
  border: 1px solid black;
  margin: 0 auto;
}
.public-modal .flex-row{
  background-color: var(--background-light);
}
.public-modal .flex-row.header{
  background-color: #0b441d38;
  border-top: solid 1px #d9d9d9;
}
.modal-overlay .game-details, .modal-overlay .slide-from-bottom {
  padding-top:3rem;
}
.modal-overlay .game-details .modal-close-button {
  top:-10px;
  right:0;
  padding:0;
  font-size: 2.5rem;
  background: white;
  padding: 0 1rem;
}
.puzzleModal .background-dark .close {
  color: var(--color-light);
}

.game-example {
  max-width: 400px;
  position:relative;
  border: 1px solid black;
}
.game-example .game-container {
  min-height: 100%;
}
.center {
  text-align:center;
}

.howtoplay {
  display:flex;
  flex-direction: column;
  align-items: center;
}

.howtoplay .game-container {
    position:relative;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    margin: 0 auto;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.03);
    padding-bottom: 50px;
}

.background-dark .amplify-togglebutton--pressed {
  background-color: var(--green-background);
}
.background-light .amplify-togglebutton--pressed {
  background-color: var(--green-link);
}